body {
  padding: 10px;
}

.custom-connect-button-wrapper button {
  /* Customize the button styles here */
  background-color: red;
  color: white;

  /* background: var(--chakra-colors-whiteAlpha-200);
  color: var(--chakra-colors-whiteAlpha-900); */
  border-radius: 0.375rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.custom-connect-button-wrapper button:hover {
  /* Customize the button hover styles here */
  border: 1px solid white;
  color: white;
  background-color: red;
}

.custom-connect-button-wrapper span {
  /* Customize the text inside the button here */
  font-size: 16px;
  color: white;
}

.custom-connect-button-wrapper span svg {
  /* Customize the svg inside the button to close wallets modal here */
  color: white;
}

.custom-connect-button-wrapper button:hover span svg {
  /* Customize the svg "X" in the button to close the wallets modal here */
  color: white;
}

span.sc-fnykZs.hjXSSb {
  font-size: 16px;
  color: red;
}
